<?xml version="1.0" encoding="utf-8"?>
<manifest package="performance.com.dogtim.android.perfomancetesting"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".MainApp">

        <service android:name=".LeakSlackUploadService"
                 android:enabled="false"/>
    </application>

</manifest>